name: Acceptance tests
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        python-version: [3.8]
    env:
        GIT_NAME: volto-blocks-grid
        NAMESPACE: "@kitconcept"
        GIT_USER: 'kitconcept'
        GIT_BRANCH: ${GITHUB_REF##*/}
    steps:
      - name: Main checkout
        uses: actions/checkout@v3

      # node setup
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Install yo and @plone/generator-volto
        run: npm i -g yo @plone/generator-volto

      - name: Setup addon testing environment
        run: npx -p @plone/scripts addon clone .

      # Acceptance tests
      - name: Acceptance tests
        run: cd addon-testing-project && yarn ci:cypress:run

      # Upload Cypress screenshots
      - uses: actions/upload-artifact@v1
        name: Upload screenshots on failure
        if: failure()
        with:
          name: cypress-screenshots
          path: addon-testing-project/src/addons/${{ GIT_NAME }}/cypress/screenshots
      # Upload Cypress videos
      - uses: actions/upload-artifact@v1
        name: Upload cypress result videos
        if: always()
        with:
          name: cypress-videos
          path: addon-testing-project/src/addons/${{ GIT_NAME }}/cypress/videos
